extends ./master.pug

block styles
    style.
        .hidden {
            display: none;
        }
        .visible {
            display: unset;
        }

block content
    .p-3.text-center
        h1 Hello !{username}

    div
      input#titleInput
      input#publisherInput
      button.btn.btn-primary(onclick="addRow()") Add row

    table#resultTable.table
      thead
        tr
          th
          th Title
          th Publisher
      tbody

block scripts
  script(src="/resources/scripts/index.js")
