extends ./master.pug

//- block styles

block content
  .container(v-show="isLoading")
    h1 Loading...

  .container(v-show="!isLoading")
    //- List section
    .container(v-show="state === 'list'")
      .nav
        button.btn.btn-primary(@click.prevent="setStateRegister") New Task

      div
        table.table
          thead 
            tr
              th 
              th Title
              th Description
              th Status
              th Priority
              th Tags
          tbody
            tr(v-for="(item, index) in filteredTasks")
              td &nbsp;
              td {{ item.title }}
              td {{ item.description }}
              td 
                .form-check
                  label.form-check-label {{ item.completed ? 'Done' : 'To do' }}
              td {{ item.priority }}
              td
                .badge.bg-primary
                  label(v-for="tag in item.tags" :key="tag") {{ tag }}

        .form-check
          input#showAllTasks.form-check-input(type="checkbox" v-model="showAllTasks")
          label.form-check-label(for="showAllTasks") Show all

    //- Register Form
    .container(v-show="state === 'register'")
      form
        .mb-5.text-center
          h2 New task
        .mb-3
          label.form-label Title
          input.form-control(type='text' v-model="newTask.title")
        .mb-3
          label.form-label Description
          input.form-control(type='text' v-model="newTask.description")
        .mb-3
          label.form-label Priority
          input.form-control(type='number' v-model.number="newTask.priority")
        button.btn.btn-primary(type='submit' @click.prevent="postNewTask") Save
        button.btn.btn-danger(type='button' @click.prevent="setStateList") Cancel


block scripts
  script(defer src="/resources/scripts/axios.js")
  script(defer src="/resources/scripts/index.js")
