extends ./master.pug

//- block styles

block content
  pre {{ $data }}

  h1 Hello world

block scripts
  //- script(defer src="/resources/scripts/axios.js")
  script(defer src="/resources/scripts/index.js")
